{
  "presets": ["react-native", "module:metro-react-native-babel-preset"],
  "plugins": [
    ["babel-plugin-rewrite-require", {
      "aliases": {
	  	  "crypto": "react-native-crypto",
		  "randombytes": "react-native-randombytes",
		  "path" : "path-browserify"
      }
    }]
  ]
}
